body {
  margin: 0 auto;
  padding: 50px 0;
  width: 90vw;
  min-height: calc(100vh - 100px);
  text-align: center;
  background-color: antiquewhite;
  font-family: Segoe UI, sans-serif;
}

hr {
  width: 50%;
  height: 4px;
  background-color: cadetblue;
}

section {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  min-height: 100px;
  padding: 50px 5px;
}
